@{
    ViewData["Title"] = "Edit Lead";
}

@model NexGen.Repository.Leads.EntityLeads


<link href="https://unpkg.com/tailwindcss@@^2.2.7/dist/tailwind.min.css" rel="stylesheet">
<div class="container-fluid mt-4 p-0 verifier-content">
    <div class="m-0 mx-5 mt-4 bg-white verifier-sec">
        <div class="row p-0">
            <div class="col-12 card-info">
                <div class="card">
                    <div class="card-header" style="background-color: #06283a;min-height:40px;">
                        <h4 class="card-title" style="color: azure;">Lead Information</h4>
                    </div>
                </div>
                <div class="tab-content" style="border: 3px solid #06283a;">
                    <form id="form1" enctype="multipart/form-data" asp-controller="Lead">
                        <div class="row m-4 justify-content-between" style="border-bottom: none;">
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Company Name</label>
                                    <input type="text" class="form-control" asp-for="Company_Name" pattern="^\S(.*\S)?$" id="txtcompanyname" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Enquiry Number</label>
                                    <input type="text" class="form-control" asp-for="EnquiryNumber" id="txtenquirynumber" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Company Details</label>
                                    <textarea rows="4" class="form-control" required asp-for="Company_Details" id="txtcompanydetails" disabled="disabled"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">City</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="City" id="txtcity" disabled="disabled" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Country</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="Country" id="txtcity" disabled="disabled" required>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Sector/Industry</label>
                                    <select data-control="select2" ID="ddlIndustrySector" required  disabled="disabled" asp-for="Sector" Class="form-control">
                                        <option value="" disabled selected hidden>--Please Select--</option>
                                        <option>Health Care</option>
                                        <option>Importer</option>
                                        <option>Exporter</option>
                                        <option>Contractor</option>
                                        <option>Trader</option>
                                        <option>Manufacturer</option>
                                        <option>Online Business</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Contact Person</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="ContactPerson" id="txtcontactperson" disabled="disabled" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Designation</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="Designation" id="txtdesignation" disabled="disabled" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Mobile Number</label>
                                    <input type="number" class="form-control" title="please enter number only" pattern="[0-9]+" asp-for="MobileNumber" id="txtmobilenumber" disabled="disabled" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">E-Mail Id</label>
                                    <input type="email" class="form-control" title="Text cannot be empty or only whitespace" pattern="[^@@\s]+@@[^@@\s]+\.[^@@\s]+" asp-for="EmailID" id="txtEmailId" disabled="disabled" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Lead Source Date</label>
                                    <input type="text" class="form-control" asp-for="SourceDate" disabled id="txtLeadSourceDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Assigned Date</label>
                                    <input type="text" class="form-control" asp-for="AssignDate" disabled id="txtAssignedDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">WhatsApp Number</label>
                                    <input type="number" class="form-control" pattern="[0-9]+" title="please enter number only" asp-for="WhatsAppNumber" required disabled="disabled" id="txtEmailId">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                </div>
                            </div>
                        </div>
                        <div class="row m-5 justify-content-between">
                            <h5 id="H1" runat="server">Lead Source Information</h5>
                        </div>
                        <div class="row m-5 justify-content-between" style="border-bottom: none;">
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Lead Source</label>
                                    <select data-control="select2" asp-for="LeadSource" ID="ddlLeadSource" disabled="disabled" required Class="form-control">
                                        <option value="" disabled selected hidden>--Please Select--</option>
                                        <option>LinkedIn</option>
                                        <option>Website</option>
                                        <option>Facebooks Ads</option>
                                        <option>Google Ads</option>
                                        <option>Website Chat</option>
                                        <option>Website Form</option>
                                        <option>Validation Lead</option>
                                        <option>Calendly</option>
                                        <option>Scrapping Lead</option>
                                        <option>Email Marketing Lead</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Instrument Value</label>
                                    <select data-control="select2" asp-for="InstrumentValue" ID="ddlInstrumentvalue" disabled="disabled" required Class="form-control">
                                        <option value="" disabled selected hidden>--Please Select--</option>
                                        <option>50000 USD to 1 Million USD</option>
                                        <option>1 Million USD to 2 Million USD</option>
                                        <option>2 Million USD to 5 Million USD</option>
                                        <option>5 Million USD to 10 Million USD</option>
                                        <option>10 Million USD and above</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Assigned To</label>
                                    <input type="email" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" required placeholder="Xxxx@euroeximbank-sales.com" asp-for="AssignedTo_MailID" disabled="disabled" id="txtSalesTeam">
                                    @* <select data-control="select2" ID="ddlSalesAgentName" asp-for="AssignedTo" runat="server" required Class="form-control" AutoPostBack="true">
                                    <option value="" disabled selected hidden>--Please Select--</option>
                                    <option>Selva</option>
                                    </select> *@
                                </div>
                            </div>
                        </div>
                        <div class="row m-5 justify-content-between" style="border-bottom: none;">
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Instrument Type</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="IntrumentType" id="txtinsrumenttype" disabled="disabled" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Instrument Issuance Timeline</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="InstrumentIssuanceTimeline" id="txtInstrumentIssuanceTimeline" disabled="disabled" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Annual Requirement</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="AnnualRequirement" id="txtAnnualRequirement" disabled="disabled" required>
                                </div>
                            </div>

                        </div>
                        <div class="row m-5 justify-content-between" style="border-bottom: none;">

                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Annual Turnover</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="AnnualTurnOver" id="txtAnnualTurnOver" disabled="disabled" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Additional Information</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="AdditionalInformation" id="txtAdditionalInformation" disabled="disabled" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Alternate Mobile Number</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="AlternativeMobileNumber" id="txtAlternativeMobileNumber" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Alternate Email ID</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="[^@@\s]+@@[^@@\s]+\.[^@@\s]+" asp-for="AlternateEmail" id="txtAlternateEmail" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                    <label for="">Alternate Company Name</label>
                                    <input type="text" class="form-control" title="Text cannot be empty or only whitespace" pattern="^\S(.*\S)?$" asp-for="AlternateCompanyName" id="txtAlternateCompanyName" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4">
                                </div>
                            </div>
                            <div style="padding-top:20px;" class="col-md-12">
                                <!--begin::Label-->
                                <!--end::Label-->
                                <!--end::Label-->
                                <!--begin::Input-->
                                <button asp-action="Leads" formnovalidate class="btnback">Back</button>
                                <button asp-action="UpdateLead" class="btnsave">Update</button>
                                <!--end::Input-->
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var frm = document.getelementbyid('form1');

    if (frm.email.type === 'text') {
        frm.onsubmit = function () {
            if (/\s/.test(frm.email.value))
                return false;
        }
    }
</script>
<script>
    window.onload = function () {
        var textarea = document.getElementById('txtcompanydetails');

        textarea.addEventListener('input', function () {
            var text = textarea.value.trim(); // Remove leading and trailing whitespace
            if (text === '') {
                textarea.setCustomValidity('Text cannot be empty or only whitespace');
            } else {
                textarea.setCustomValidity('');
            }
        });
    };
</script>
@*<script>
    function functionUpdate() {
        Swal.fire({
            title: "Are you sure want to Update this ?",
            //text: "You clicked the button!",
            icon: "success"
        });
    }
</script>*@
